doctype html
html
	head
		title Statistiques mensuelles actes criminels Ville de Montréal
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
		
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous")
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
		script(src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js")
		script(src="../javascripts/script.js")

	body(onload="replaceContent()")
		
		div(height="10%", overflow="auto")
			.image-block
				table.table
					tr(height="10%")
						td(width="5%") 
							img.className#IdName(src="../images/logo.png" alt="Image Title" width="160%")
						td(top="50%")
							br
							h2 &emsp;Statistiques mensuelles des actes criminels dans la  Ville de Montréal					
							
		div.container-fluid
			table.table
				tr
					td
						h5 Sommaire visuel des 4 derniers mois aux registres.
						br
						div(style="border: thin solid grey")
							div
								#container
							div
								#container2
							div
								#container3
							div
								#container4
				tr
					td
						h5 Nombre d'actes criminels mensuels en fonction de la catégorie.
						br
						table.table#body
						
									
