doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
		
	body
		div.container-fluid
			table
				tr
					td(width="5%") 
						img.className#IdName(src="../images/logo.png" alt="Image Title" width="150%")
					td(top="40%")
						h1 &emsp; Ville de Montréal
		div.container-fluid
		h3 Bienvenue! 
		p Ce site vise à recenser les données aux registres de la Ville de Montréal pour vous offrir des statistiques sous diverses formes concernant ses lieux culturels ainsi que les crimes y ayant eu lieu.<br>
			|Vous pouvez également consulter le site en ligne via <b>Heroku</b> à cette adresse : 
			a.link(onclick="window.location.href='https://fathomlessb-dawn-43279.herokuapp.com/'") https://fathomless-dawn-43279.herokuapp.com/
		br
		
		table.table
			tr
				td
					button.btn.btn-info(onclick="window.location.href='http://localhost:3000/doc'") '/doc'
				td
					h5 fonction A3
					p La route <b>« /doc »</b> fait apparaître la documentation de tous les services web (JSON ou XML). La documentation est en format HTML, généré à partir de fichiers RAML. 
			tr
				td
					button.btn.btn-info(onclick="window.location.href='http://localhost:3000/actes?date=2018-04-01'") '/actes'
				td
					h5 fonction A4
					p La route <b>« /actes?date=2018-05-01 »</b> permet d'obtenir la liste des actes criminels pour une date spécifiée en paramètre. Les données retournées sont en format JSON. La date en paramètre est en format ISO 8601.
			tr
				td
					button.btn.btn-info(onclick="window.location.href='http://localhost:3000/stats/json'") '/stats/json'
				td
					h5 fonction A5
					p La route <b>« /stats/json »</b> permet d’obtenir des statistiques mensuelles sur les actes criminels survenus pour chaque mois aux registres en format JSON.(nombre d’actes par catégorie). 
			
			tr
				td
					button.btn.btn-info(onclick="window.location.href='http://localhost:3000/stats/xml'") '/stats/xml'
				td
					h5 fonction A6
					p La route <b>« /stats/xml »</b> permet d’obtenir des statistiques mensuelles sur les actes criminels survenus pour chaque mois aux registres en format XML.(nombre d’actes par catégorie). 
			tr
				td
					button.btn.btn-info(onclick="window.location.href='http://localhost:3000/stats/buffer'") '/stats/buffer'
				td
					h5 fonction A7
					p La route <b>« /stats/buffer »</b> permet d’obtenir des statistiques mensuelles sur les actes criminels survenus pour chaque mois aux registres en format buffer.(nombre d’actes par catégorie). 
			
			tr
				td
					button.btn.btn-info(onclick="window.location.href='http://localhost:3000/stats/html'") '/stats/html'
				td
					h5 fonction B1
					p La route <b>« /stats/html »</b> permet d’obtenir des statistiques mensuelles sur les actes criminels survenus pour chaque mois aux registres, via une requête AJAX dans un tableau en format HTML.(nombre d’actes par catégorie). 
			
			tr
				td
					button.btn.btn-info(onclick="window.location.href='http://localhost:3000/stats/html_chart'") '/stats/html_chart'
				td
					h5 fonction B2
					p La route <b>« /stats/html_chart »</b> permet d’obtenir des statistiques mensuelles sur les actes criminels survenus pour chaque mois aux registres, via une requête AJAX dans un bar chart et un tableau, format HTML.(nombre d’actes par catégorie). 
			
			
			tr
				td
					button.btn.btn-info(onclick="window.location.href='http://localhost:3000/stats/html_essai'") '/stats/html_essai'
				td
					h5 fonction B3
					p La route <b>« /stats/html_essai »</b> permet d’obtenir des statistiques mensuelles sur les actes criminels survenus pour chaque mois aux registres, via une requête AJAX dans un format plus personnalisé, format HTML.(nombre d’actes par catégorie). 			
					tr
			tr
				td
					button.btn.btn-info(onclick="window.location.href='http://localhost:3000/actes3km?latitude=45.5372886&longitude=-73.5904142'") '/actes3km'
				td
					h5 fonction C1
					p La route <b>« /actes3km »</b> retourne la liste des actes criminels ayant eu lieu dans les 3 derniers mois situés à moins de 3 km d’un point donné en paramètre. La distance est calculée selon la formule de Haversine. 			
			tr
				td
					button.btn.btn-info(onclick="window.location.href='http://localhost:3000/lieux'") '/lieux'
				td
					h5 fonction D2
					p La route <b>« /lieux »</b> retourne la liste des lieux culturels à Montréal. Pour chaque lieu, le nombre d’actes criminels ayant eu lieu à moins de 1 km du lieu en 2018 est affiché. La distance est calculée selon la formule de haversine.						