doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
		
	body.error404
		div.container-fluid
			table.table
				tr
					td(width="5%") 
						img(onclick="window.location.href='http://localhost:3000/'" src="../images/logo_blanc.png" alt="logo Ville de Montréal" width="85px")
					td
						h1.errorFont(valign="middle") &emsp;Ville de Montréal
				tr
					td(colspan="2")
		h3 Nous sommes désolés! 
		h4(style="font-weight:300") 
			|Une erreur est survenue!<br>
			|Surement une simple erreur de frappe.<br>
			|Veuillez vérifier la route inscrite ou retourner à la page d'accueil.<br>
		a(onclick="window.location.href='http://localhost:3000/'" style="color:black") retour à la page d'accueil


			
						
