doctype html
html
	head
		title Statistiques mensuelles actes criminels Ville de Montréal
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
		
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous")
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
		script(src="../javascripts/script_essai.js")

	body(onload="replaceContent_essai()")
		
		div.container-fluid
			.image-block
				table.table
					tr(height="10%")
						td(width="5%") 
							img.className#IdName(src="../images/logo.png" alt="Image Title" width="160%")
						td(top="50%")
							br
							h2 &emsp;Statistiques mensuelles actes criminels Ville de Montréal
			block content
			table.table 
				tr
					td
						#body
					td
						#chart
					td


						