@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1.errorFont {
color: white;
}

.error {
background-image: url("../images/error_page.png");
background-repeat: no-repeat;
}

.error404 {
background-image: url("../images/error_page404.png");
background-repeat: no-repeat;
}
